/* GLOBAL VARIABLES */
:root {
  --clr-deco: DarkCyan;
  --clr-style-1: rgb(218, 29, 129);
  --clr-style-2: rgb(57, 174, 186);
  --clr-footer: rgba(34, 47, 71, 100%);

  --clr-body-bg: hsl(0 0% 90%);
  --clr-nav-bg: hsl(0, 0%, 75%);
  --clr-card-bg: hsl(0 0% 100%);
  --clr-text: hsl(0 0% 15%);
  --clr-heading: hsl(0 0% 25%);

  --text-font-1: "M PLUS 1 Code", monospace;
  --text-font-2: "Playpen Sans", sans-serif;
  --heading-size: 3rem;
  --sub-heading-size: 1rem;
  --text-size: 1em;
  --text-size-2: 0.1em;
}

section#portfolio {
  h3 {
    font-size: 1.5em;
    font-weight: 700;
    color: var(--clr-heading);
    text-align: center;
    text-decoration: underline;
    max-width: 800px;
    margin: 0 auto 30px auto;
  }
  /*** This code section is for the skills section.  */
  & #skills {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    height: fit-content;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;

    & fieldset {
      padding: 10px;
      border: 2px solid var(--clr-heading);
      border-radius: 12px;
      box-shadow: 0 0 2px var(--clr-nav-bg);

      & legend {
        font-size: 1.3em;
        font-weight: 600 !important;
        color: var(--clr-heading);
      }

      & ol {
        list-style-type: none;
        padding: 0;
        margin: 0;

        & li {
          color: var(--clr-text);
          letter-spacing: 0.1em;
          font-size: 0.9em;
        }
      }
    }
  }

  /*** This code section is for the scroll reactive progress bars.  */
  & .portfolio_language {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    background-color: var(--clr-body-bg);

    & .container {
      --languages-container: 300px;
      position: relative;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 40px;

      & .circle {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 180px;
        height: 180px;
        border-radius: 50%;
      }

      & .circle::before {
        content: "";
        position: absolute;
        inset: 5px;
        border-radius: 50%;
        background-color: #222;
        opacity: 0.8;
      }

      & .circle::after {
        content: "";
        position: absolute;
        width: 95px;
        height: 95px;
        background-color: #333;
        border-radius: 50%;
        border: 15px solid #4d4c51;
        box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.25),
          0 10px 10px rgba(0, 0, 0, 0.75), 0 -2px 2px rgba(255, 255, 255, 0.5),
          inset 0 4px 2px rgba(0, 0, 0, 0.25),
          inset 0 -2px 2px rgba(255, 255, 255, 0.5);
      }

      & .number {
        position: relative;
        color: #fff;
        font-size: 2em;
        font-weight: 700;
        z-index: 20;

        & span {
          font-size: 0.5em;
          font-weight: 500;
        }
      }

      & h4 {
        color: #fff;
        font-size: 0.8em;
        font-weight: 600;
        text-transform: uppercase;
        z-index: 10;
        line-height: 0.6em;
        margin-top: -10px;
      }
    }
  }

  /*** Thi section is for languages a i still like to learn.  */
  #toLearn {
    background-color: var(--clr-body-bg);
    & .infinite-scroll {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      & .scroll {
        position: relative;
        display: flex;
        width: 850px;
        border-radius: 40%;
        overflow: hidden;
        -webkit-mask-image: linear-gradient(
          90deg,
          transparent,
          #fff 20%,
          #fff 80,
          transparent
        );
        mask-image: linear-gradient(
          90deg,
          transparent,
          #fff 20%,
          #fff 80,
          transparent
        );

        & div {
          white-space: nowrap;
          animation: animate var(--t) linear infinite;
          animation-delay: calc(var(--t) * -1);
          border-radius: 40%;

          & div:nth-child(2) {
            animation: animate2 var(--t) linear infinite;
            animation-delay: calc(var(--t) / -2);
          }

          & span {
            display: inline-flex;
            margin: 10px;
            padding: 7px 15px;
            background-color: var(--clr-nav-bg);
            color: #fff;
            border-radius: 5px;
            text-transform: uppercase;
            letter-spacing: 0.1em;
          }

          & span:hover {
            background-color: var(--clr-heading);
            cursor: pointer;
          }
        }
      }
    }
  }
}

/* ** Animation for the language i want to learn section. The languages scroll on the x-axis infinity */
@keyframes animate {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

/*
@media screen and (max-width: 1001px) {
  section#portfolio {
    padding: 0;
    h1 {
      font-size: 4rem !important;
      margin-bottom: 10px;
    }

    h3 {
      width: 100%;
      font-size: 2.3rem;
      margin-bottom: 20px !important;
      margin-top: 20px !important;
    }

    & #skills {
      width: 100%;
      --min-column-size: 400px;
      display: grid;
      gap: clamp(1rem, 5vmax, 1.625rem);
      grid-template-columns: repeat(
        auto-fit,
        minmax(min(100%, var(--min-column-size)), 1fr)
      );
      margin-bottom: 10px;
      & fieldset {
        --webkit-height: fit-content;
        --webkit-min-height: auto;
        height: 400px;
        & legend {
          font-size: 2rem;
        }
        & ol {
          padding: 10px;
          margin-top: 10px;
          & li {
            font-size: 1.5rem !important;
            padding-bottom: 1px;
          }
        }
      }
    }

    & .portfolio_language {
      padding: 0;

      & .container {
        width: 100%;
        padding: 10px;
        --min-column-size: 300px;
        display: grid;
        gap: clamp(1rem, 5vmax, 1.625rem);
        grid-template-columns: repeat(
          auto-fit,
          minmax(min(100%, var(--min-column-size)), 1fr)
        );
        & .circle {
          width: 220px;
          height: 220px;
          margin: 0 auto 0 auto;

          h2 {
            font-size: 2.3rem;
            & span {
              font-size: 1.3rem;
            }
          }
          h4 {
            font-size: 1.3rem;
          }
        }
        & .circle::after {
          width: 130px;
          height: 130px;
          border: 20px solid #4d4c51;
        }
      }
    }

    & .infinite-scroll {
      padding: 0;
      margin-top: 20px !important;

      & .scroll {
        width: 1200px !important;
        margin-bottom: 10px;
        & div {
          span {
            font-size: 1.6rem;
            padding: 10px;
          }
        }
      }
    }
  }
}
*/

@media screen and (max-width: 1000px) {
  section#portfolio {
    padding: 0;
    h1 {
      font-size: 7rem !important;
      margin-bottom: 10px;
    }

    h3 {
      width: 100%;
      font-size: 3.3rem;
      margin-bottom: 20px !important;
      margin-top: 20px !important;
    }

    & #skills {
      width: 100%;
      --min-column-size: 490px;
      display: grid;
      gap: clamp(1rem, 5vmax, 1.625rem);
      grid-template-columns: repeat(
        auto-fit,
        minmax(min(100%, var(--min-column-size)), 1fr)
      );
      margin-bottom: 10px;
      & fieldset {
        --webkit-height: fit-content;
        --webkit-min-height: auto;
        height: 500px;
        & legend {
          font-size: 2.7rem;
        }
        & ol {
          padding: 10px;
          margin-top: 10px;
          & li {
            font-size: 30px;
            padding-bottom: 3px;
          }
        }
      }
    }

    & .portfolio_language {
      padding: 0;

      & .container {
        width: 100%;
        padding: 10px;
        --min-column-size: 500px;
        display: grid;
        gap: clamp(1rem, 5vmax, 1.625rem);
        grid-template-columns: repeat(
          auto-fit,
          minmax(min(100%, var(--min-column-size)), 1fr)
        );
        & .circle {
          width: 400px;
          height: 400px;
          margin: 0 auto 0 auto;

          h2 {
            font-size: 3.5rem;

            & span {
              font-size: 2rem;
            }
          }
          h4 {
            font-size: 2.1rem;
          }
        }
        & .circle::after {
          width: 270px;
          height: 270px;
          border: 25px solid #4d4c51;
        }
      }
    }

    & .infinite-scroll {
      padding: 0;
      margin-top: 20px !important;

      & .scroll {
        width: 1200px !important;
        margin-bottom: 10px;
        & div {
          span {
            font-size: 2.3rem;
            padding: 10px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  section#portfolio {
    padding: 0;
    h1 {
      font-size: 7rem !important;
      margin-bottom: 10px;
    }

    h3 {
      width: 100%;
      font-size: 3.3rem;
      margin-bottom: 20px !important;
      margin-top: 20px !important;
    }

    & #skills {
      width: 100%;
      --min-column-size: 490px;
      display: grid;
      gap: clamp(1rem, 5vmax, 1.625rem);
      grid-template-columns: repeat(
        auto-fit,
        minmax(min(100%, var(--min-column-size)), 1fr)
      );
      margin-bottom: 10px;
      & fieldset {
        --webkit-height: fit-content;
        --webkit-min-height: auto;
        height: 500px;
        & legend {
          font-size: 2.7rem;
        }
        & ol {
          padding: 10px;
          margin-top: 10px;
          & li {
            font-size: 30px;
            padding-bottom: 3px;
          }
        }
      }
    }

    & .portfolio_language {
      padding: 0;

      & .container {
        width: 100%;
        padding: 10px;
        --min-column-size: 500px;
        display: grid;
        gap: clamp(1rem, 5vmax, 1.625rem);
        grid-template-columns: repeat(
          auto-fit,
          minmax(min(100%, var(--min-column-size)), 1fr)
        );
        & .circle {
          width: 400px;
          height: 400px;
          margin: 0 auto 0 auto;

          h2 {
            font-size: 3.5rem;

            & span {
              font-size: 2rem;
            }
          }
          h4 {
            font-size: 2.1rem;
          }
        }
        & .circle::after {
          width: 270px;
          height: 270px;
          border: 25px solid #4d4c51;
        }
      }
    }

    & .infinite-scroll {
      padding: 0;
      margin-top: 20px !important;

      & .scroll {
        width: 1200px !important;
        margin-bottom: 10px;
        & div {
          span {
            font-size: 2.3rem;
            padding: 10px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  section#portfolio {
    padding: 0;
    h1 {
      font-size: 7rem !important;
      margin-bottom: 20px;
    }

    h3 {
      width: 100% !important;
      font-size: 4.4rem;
      margin-bottom: 30px !important;
      margin-top: 20px !important;
    }

    & #skills {
      width: 100%;
      --min-column-size: 600px;
      display: grid;
      gap: clamp(1rem, 5vmax, 1.625rem);
      grid-template-columns: repeat(
        auto-fit,
        minmax(min(100%, var(--min-column-size)), 1fr)
      );
      margin-bottom: 10px;
      & fieldset {
        --webkit-height: fit-content;
        --webkit-min-height: auto;
        height: 800px;
        & legend {
          font-size: 4rem;
        }
        & ol {
          padding: 10px;
          margin-top: 10px;
          & li {
            font-size: 3rem;
            padding-bottom: 3px;
          }
        }
      }
    }

    & .portfolio_language {
      padding: 0;

      & .container {
        width: 100%;
        padding: 10px;
        --min-column-size: 500px;
        display: grid;
        gap: clamp(1rem, 5vmax, 1.625rem);
        grid-template-columns: repeat(
          auto-fit,
          minmax(min(100%, var(--min-column-size)), 1fr)
        );
        & .circle {
          width: 400px;
          height: 400px;
          margin: 0 auto 0 auto;

          h2 {
            font-size: 3.5rem;

            & span {
              font-size: 2rem;
            }
          }
          h4 {
            font-size: 2.1rem;
          }
        }
        & .circle::after {
          width: 270px;
          height: 270px;
          border: 25px solid #4d4c51;
        }
      }
    }

    & .infinite-scroll {
      padding: 0;
      margin-top: 20px !important;

      & .scroll {
        width: 1200px !important;
        margin-bottom: 10px;
        & div {
          span {
            font-size: 2.3rem;
            padding: 10px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 499px) {
  section#portfolio {
    padding: 0;
    h1 {
      font-size: 7rem !important;
      margin-bottom: 20px;
    }

    h3 {
      width: 100% !important;
      font-size: 3.5rem;
      margin-bottom: 30px !important;
      margin-top: 20px !important;
    }

    & #skills {
      width: 100%;
      --min-column-size: 700px;
      display: grid;
      gap: clamp(1rem, 5vmax, 1.625rem);
      grid-template-columns: repeat(
        auto-fit,
        minmax(min(100%, var(--min-column-size)), 1fr)
      );
      margin-bottom: 10px;
      & fieldset {
        --webkit-height: fit-content;
        --webkit-min-height: auto;
        height: 800px;
        & legend {
          font-size: 4rem;
        }
        & ol {
          padding: 10px;
          margin-top: 10px;
          & li {
            font-size: 3rem;
            padding-bottom: 3px;
          }
        }
      }
    }

    & .portfolio_language {
      padding: 0;

      & .container {
        width: 100%;
        padding: 10px;
        --min-column-size: 500px;
        display: grid;
        gap: clamp(1rem, 5vmax, 1.625rem);
        grid-template-columns: repeat(
          auto-fit,
          minmax(min(100%, var(--min-column-size)), 1fr)
        );
        & .circle {
          width: 400px;
          height: 400px;
          margin: 0 auto 0 auto;

          h2 {
            font-size: 3.5rem;

            & span {
              font-size: 2rem;
            }
          }
          h4 {
            font-size: 2.1rem;
          }
        }
        & .circle::after {
          width: 270px;
          height: 270px;
          border: 25px solid #4d4c51;
        }
      }
    }

    & .infinite-scroll {
      padding: 0;
      margin-top: 20px !important;

      & .scroll {
        width: 1200px !important;
        margin-bottom: 10px;
        & div {
          span {
            font-size: 2.3rem;
            padding: 10px;
          }
        }
      }
    }
  }
}
